#sidebar {
  box-sizing: border-box;
  height: 100vh;
  padding: 2em;
  width: 20vw;
  float: left;
  background-color: rgb(255, 237, 134);
}

.isDone {
  text-decoration: line-through;
  color: gray;
}

.todoList {
  margin: 2em;
  padding: 2em;
  width: 60vw;
  float: left;
  box-sizing: border-box;
  background-color: rgb(247, 216, 158);
}

.time {
  font-size: .8rem;
  color: #555;
}

.controls {
  float: right;
  clear: both;
}